@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

h1 {
    padding-bottom: 0.5rem;
    font-size: 2.2rem;
}

p {
    font-size: 1.1rem;
}

button {
    border: 0.125em solid #27CEEF;
    font-size: 1rem;
    letter-spacing: 0.125rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625em 1em;
    cursor: pointer;
    color: #27CEEF;
    font-weight: 450;
    background-color: transparent;  
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.8rem;
    align-items: center;
    line-height: 1.5;
}


/* START NAV */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.3)), url(../images/main_image.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;
}

.header__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.header__logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 5rem;
    width: 5rem;
}

.header__logo__img {
    height: auto;
    width: 100%;
    text-align: center;
    margin-left: 1.2rem;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 0.0625rem;
  }

.header__button {
    display: block;
    position: absolute;
    background: url(../images/menubar.png);
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: center; 
    cursor: pointer;
    border: none;
    top: 1.5rem;
    left: 0.6rem;
    z-index: 9999;
}

.header__button[aria-expanded='true'] {
    display: block;
    position: fixed;
    background: url(../images/close.png);
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: center; 
    cursor: pointer;
    border: none;
    top: 1.5rem;
    left: 0.6rem;
    z-index: 9999;
}

.nav__ul {
    text-decoration: none;
    background: hsl(0, 0%, 0%, 0.85);
    position: fixed;
    inset: 0 30% 0 0;
    padding: 6rem 2em;
    transform: translateX(-100%);
}

.nav__li {
    list-style: none;
    padding-bottom: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.nav__li a {
    text-decoration: none;
    color: white;
}

.nav__ul[data-visible='true'] {
    transform: translateX(0%);
}

.nav__icon--desktop {
    display: none;
}

.nav__icon--mobile {
    margin-right: 0.5rem;
}

.fas {
    color: white;
}

.dark-icon {
    color: black;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }
    .nav__ul {
        display: flex;
        background: none;
        position: unset;
        inset: 0;
        padding: 0;
        align-items: center;
        transform: none;
        transition: none;
    }
    .nav__li {
        margin-left: 3rem;
        padding-bottom: 0;
        position: relative;
    }
   .nav__a::after {
        content: '';
        height: .2rem;
        width: 100%;
        background: white;
        display: block;
        position: absolute;
        opacity: 0;
        transition: all 0.2s;
        pointer-events: none;
    }
    .nav__a:hover::after,
    .nav__a:focus::after {
        opacity: 1;
    }
    .header__button {
        display: none;
    }
    .nav__icon--mobile {
        display: none;
    }
    .nav__icon--desktop {
        display: block;
        margin-left: 2.5rem;
    }
    .header__container {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* END NAV */


/* START INTRO */
.intro__container {
    padding-top: 8rem;
    margin-bottom: 8rem;
}

.intro__button {
    margin-top: 3rem;
    margin-bottom: 8rem;
    text-align: center;
    text-decoration: none;
}

.intro__button__link {
    text-decoration: none;
}

.intro__button__link:visited {
    color: black;
}

/* END INTRO */


/* START SUBSCRIPTION */
.subscription__container {
    background-color: #333;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding-top: 4rem;
    padding-left: 0;
    padding-right: 0;
}

.subscription__img {
    height: auto;
    width: 100%;
}

.subscription .container img {
    padding: 0;
}

.subscription__button__container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.subscription__button__link {
    text-decoration: none;
}

.subscription__button__link:visited {
    color: white;
}

@media (min-width: 768px) {
    .subscription__container {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .subscription__button__container {
        margin-top: 4rem;
        margin-bottom: 0;
    }

    .subscription__img {
        width: 50%;
    }

    .subscription__title {
        padding-bottom: 2rem;
    }
}
/* END SUBSCRIPTION */


/* START CONTEST */
.contest__container {
    padding-top: 8rem;
}

.contest__title {
    text-align: center;
    padding-bottom: 0.5rem;
}

.contest__button__container {
    text-align: center;
}

.contest__button {
    background-color: #27CEEF;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contest__img {
    height: auto;
    width: 100%;
}
/* END CONTEST */

/* START REVIEWS */
.reviews__img {
    width: 100%;
}
.reviews__img__container {
    background-color: #121212;
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .reviews__img {
        height: 18.75rem;
        width: 40.625rem;
    }

    .reviews__img__container {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/* END REVIEWS */

/* START FOOTER – NEWSLETTER*/
.footer__newsletter__container {
    text-align: center;
    margin-top: 8rem;
}

.footer__title {
    color: #03338C;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.footer__newsletter__text {
    font-size: 1.1rem;
    padding-bottom: 1.25rem;
}

.footer__form__email__input {
    border: none;
    border-bottom:solid #03338C 2px;
    width: 100%;
    padding: 0.625rem 1.25rem;
}

.footer__form__button {
    margin-top: 1.5625rem;
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .footer__form__email__input {
        width: 50%;
    }
}

.hr-line {
    border: 1px solid #efefef;
}
/* END FOOTER--NEWSLETTER */


/* START FOOTER--SOCIAL MEDIA */
.footer__social {
    padding-top: 4rem;
}

.footer__social__container {
    text-align: center;

}

.footer__social__img {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 1rem 2.5rem;
}

.footer__social__text {
    font-size: .8rem;
    margin-bottom: 1rem;
}
/* END FOOTER SOCIAL MEDIA */


/* START NAV--STORE PAGE */

.header--store {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.3)), url(../../images/store_page_hero.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 50vh;
}

/* END NAV--STORE PAGE */

/* START PRODUCT LISTING--STORE PAGE */
.store__title {
    text-align: center;
    margin-top: 4rem;
}

.store__text {
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.5rem;
    margin-top: 4rem;
}

.card {
    box-shadow: 0 .25rem .4rem rgb(0 0 0 / .3);
}

.card__img{
    width: 100%;
}

.card__content {
    padding: .5rem;
}

.card__content a {
    text-decoration: none;
    color: black;
}

.card__title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #27CEEF;
}

.card__price {
    font-size: 1.2rem;
}

.list__container {
    margin-bottom: 8rem;
}

@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: 
            repeat(auto-fit, minmax(15rem, 1fr));
    }
}


/* END PRODUCT LISTING--STORE PAGE */


/* START PRODUCT_PAGE--TRADITIONAL BLEND */
.product {
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.nav--product__page {
    display: flex;
}

.nav--product__page .nav__li a {
    color: white;
}

.header__button--product__page {
    background: url(../images/menubar_dark.png);
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: center; 
    cursor: pointer;
    border: none;
    top: 1.5rem;
    left: 0.6rem;
    z-index: 9999;
}

.card__title--product {
    margin-bottom: 1rem;
}

.quantity {
    margin-top: 2rem;
}

.cart {
    text-align: center;
}

.cart__add {
    margin-top: 2rem;
}

.cart-items {
    position: absolute;
    top: 1.5rem;
    margin-left: 1.5rem;
    background: rgb(255, 145, 0);
    padding: 0 0.4rem;
    border-radius: 30%;
    color: white;
}

.clicked {
    background-color: #27CEEF;
    color: white;
}

.counter__button {
    border: none;
    padding: 0;
}

.counter__quantity {
    margin-left: 2rem;
    margin-right: 2rem;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .nav--product__page .nav__li a {
        color: #121212;
    }
    .header__button--product__page {
        background: none;
    }
    .product {
        margin-bottom: 8rem;
    }
    .product__card__img {
        height: 25rem;
        width: 22rem;
    }
    .product__container {
        display: flex;
        justify-content: center;
        gap: 6rem;
    }
    .cart__1bag {
        margin-bottom: 0.5rem;
    }
    .cart__3bag {
        margin-bottom: 0.5rem;
    }

    .cart-items__mobile {
        display: none;
    }
}

@media (max-width: 477px) {
    .cart__6bag {
        margin-top: 0.5rem;
    }
}

/* END PRODUCT_PAGE--TRADITIONAL BLEND */


/* START CONTACT PAGE */
.header--contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.3)), url(../../images/contact_hero.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 55vh;
}

.store {
    text-align: center;
    line-height: 2.5rem;
}

.store__hours {
    margin-top: 4rem;
}

/* END CONTACT PAGE */


/* START CART PAGE */
.cart__list {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.cart__item__img {
    height: 8rem;
    width: 8rem;
}

.cart__list__table {
    width: 100%;
}

/*---------- Cart Content -------------------- */
.cart__item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart__img {
    width: 4.6rem;
    height: 4.6rem;
  }
  .cart__details__title {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
  }
  .cart__details__cost {
    margin: 0.3rem 0;
  }
  .cart__details__quantity {
    margin: 0.3rem 0;
  }
  .cart__item__amount__quantity {
    text-align: center;
  }
  .cart__details__remove__item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }

.cart__content--desktop {
    display: none;
}

.cart__item__container {
    display: flex;
    align-items: center;
}
.item__image {
    width: 2rem;
    height: 2rem;
}

.cart-table {
    width: 100%;
}

.table__row__headers {
    display: none;
}

.item__row td {
    flex: 1; /* Allow content to fill remaining space */
    padding: 5px; /* Add padding to each td */
    font-size: 0.8rem;
}

    @media (min-width: 768px) {
        .cart__content--desktop {
            display: block;
        }
        .cart__content--mobile {
            display: none;
        }
        .cart__item__container {
            display: flex;
            align-items: center;
        }
        .item__image {
            width: 110px;
            height: 110px;
            margin-right: 10px;
        }
        .table__row__headers {
            display: contents;
        }
        .item__row td {
            flex: 0; /* Allow content to fill remaining space */
            padding: 0; /* Add padding to each td */
            font-size: 1rem;
        }
    }


  /*---------- End of Cart Content -------------------- */

  .cart__total__plus__clear {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart__total__title {
    margin-bottom: 1rem;
  }

.cart__clear {
    margin-bottom: 8rem;
    text-align: center;
}

.center__button {
    display: flex;
    justify-content: center;
}

.text-left {
    text-align: left;
}

.cart-flex-container {
    display: flex;
}

.cart__total__plus__clear {
    margin-top: 8rem;
}

#clearCartButton {
    display: none;
}

/* END CART PAGE */
